*{
    margin: 0;
    padding: 0; 
    /* outline: 1px solid;               */
    font: sans-serif;
    box-sizing: border-box;
}

.container{
    background-image: url(image/background.jpg);
    display: flex;
    flex-direction: column;
    position: relative;

}
.header{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:darkorange;
    padding-bottom: 20px;
    color: white;
    margin: 10px;

}
.header span{
    padding-right: 2%;
    gap:5px;
    font-size: 20px;
    padding-top: 2%;
}

.flex .ul{
    display: flex;
    list-style: none;
    justify-content: space-around;


}
.button{
    display: flex;
    justify-content: end;
    margin: 10px;
}
button{
    height: 25px;
    background-color: darkorange;
    color: white;
    font-size: 10px;
    width: 20%;
    border-radius: 3px;
    border: none;
}
/* .profil{
    padding-right: 40px;
} */
.profil img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 5%;
}
h1{
    font-size: 15px;
}
h1 span{
    color:orange ;

}
.pp2{
    margin: 6%;
    font-style: oblique;
    font-size: 12px;
    
}
.pp2 span{
    font-size:small ;

}
/* .profil{
    padding-right: 20%;
} */
/* .pp2{
    padding-left: 100px;
    
} */
.container .michel{
   background-color:white;
   height: 30%;
   width: 50%;
   display: flex;
   flex-direction: column;
   margin-left: 25%;
   align-items: center;
   
} 
 .icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap:15px;
    padding-top: 20px;
    border-radius: 50px;
    
}
.icon i{
    background-color: white;
    /* height: 100%;
    width: 100%; */
    border-radius: 100px;
    text-align: center;
    color: black
    
}

h2::before{
    
    content: "";
    background-color: rgb(223, 127, 16);
    width: 39px;
    height: 7px;
    border-radius: 50px;
    
}
.astuces{
    position: relative;
    padding: 20px;
    /* margin: 20px;              */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    gap: 10px;
}

h2 span{
    font-size: small;
    color: grey;
}

.flex ul {
    list-style: none;
    display: flex;
    padding-top: 50px;
    gap:10px;
    font-style: italic;
    color: rgb(77, 76, 75);
    align-items: center;
    padding-left: 50px;
    
}

.section2{
    display: flex;
     
}


.nataal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 185px;
    grid-gap:10px;
}

.nataal1 .nataal img{
    width: 100%;
}

.image1{
    grid-column: 1/3;
    grid-row:1/2 ;
}

.image2{
    grid-column: 3/5;
    grid-row: 1/3;
}
.image3{
    grid-column: 5/7;
    grid-row: 1/2;
}

.image4{
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
}

.image15{
    grid-column:2/3 ;
    grid-row: 2/3;
}
.image5{
    grid-column: 5/7;
    grid-row:2/3 ;
}
.image6{
    grid-column: 1/3;
    grid-row: 3/5;
}
.image7{
    grid-column: 3/5;
    grid-row:3/4 ;
}
.image8{
    grid-column: 5/7;
}
.about .about1{
    margin-top: 8%;
    margin: 2rem 1rem;
    display: flex;
    gap: 50px; 
}
.about .about1 .left h3{
    font-size: 1em;
    white-space: nowrap;
}
.about .about1 .left h6{
    font-size: 0.9em;
    white-space: nowrap;
    margin-top: 20px;
    color: #767474;
}
.about .about1 .right p{
    font-size: 1em;
    color: #767474;
}
.about1 .left::before{
    content: '';
    height: 9px;
    width: 36px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    background: rgba(236, 78, 21);
}

.conteneurcircle{
    position: relative;
    /* width:100px;  */
    display: flex;
    /* justify-content:space-between;  */
}
.right .conteneurcircle .card{
    position: relative;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* height: 50px; */
}
.conteneurcircle .card svg circle{
    fill: transparent;
}
.conteneurcircle .card::before{
    content: '';
    position: absolute;
    top: 0;
    /* left: -50%; */
    /* width: 100%; */
    /* height: 100%; */
    pointer-events: none;
    z-index: 1;
} 
.percent{
    position: relative;
    /* width: 150px; */
    height: 150px;
    border-radius: 50%;
    z-index: 1000;
}
.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .number h2{
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.text{
    position: absolute;
    bottom:40px;
    left:25px; 
    font-size: small;
    color: #2d2b2b;
    white-space: nowrap;
}
.texte{
    position: absolute;
    bottom:40px;
    left:60px; 
    font-size: small;
    color: #2d2b2b;
}
svg{
    position: relative;
    height: 150px;
    width: 150px;
}
svg circle{
    /* width: 100%; */
    /* height: 100%; */
    fill: none;
    stroke: #c0bebe;
    stroke-width: 3;
    /* stroke-linecap: round; */
    transform: translate(5px,5px);
}
svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*90) / 100);
    stroke:rgb(236, 78, 21) ;
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*70) / 100);
    stroke:rgb(236, 78, 21) ;
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*67) / 100);
    stroke:rgb(236, 78, 21) ;
}
.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*97) / 100);
    stroke:rgb(236, 78, 21) ;
}


.work h3::before{
    content: '';
    height: 10px;
    width: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    background: rgb(236, 78, 21);
} 
h3{
margin-bottom: 10 px;
}
.work{
    position: relative;
    height: 30%;
    width: 100%; 
    margin-top: 15px;
    display: flex;
    gap: 20%;
    background-color:rgb(14, 14, 26);
    color: white;
}
.gauche{
    margin:1% 3%;
}
.gauche p{
    padding: 3%;
    font-size: 10px;
    color: #b1acac;
}
.gauche .pg{
    margin: 2%;
    font-size: 9px;
    color: #c0bebe;
}

.droit{

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.droit {
    margin: 1% 3%;
}
.droit h4{
    font-size: small;
    
}
.droit h5{
    margin: 1%;
    color: orange;
    font-size: 12px;
}
.droit .para{
    margin: 1%;
    font-size: x-small;
    color: azure;
}
.droit p{
    font-size: 1em;
    color: #ddd;
}
.droit ul{
    margin: 4%;
    font-size: 1em;
    color: #ddd;
    list-style-type:inherit;
}



.avant-footer{
    display: flex;
    margin: 3em;
    gap: 15%;
    position: relative;
}
.avant-footer .left::before{
    content: '';
    height: 10px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    background: rgb(236, 78, 21) ;
}
.avant-footer h3{
    font-size: 2em;
}
.avant-footer h6{
   color: #a98f8f;
   margin-top: 10px; 
}
.vertical div{
    margin-bottom: 3rem;
}
.vertical::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 50px;
    left:25%;
    width: 2px;
    background: #ccc;
}
.vertical .mini::after{
    content: '';
    position: absolute;
    top: 0;
    left: 24.5%;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 0 8px rgba(250, 164, 133, 0.3);
    background: rgb(236, 78, 21) ;
}
.vertical .mini2::after{
    content: '';
    position: absolute;
    top: 34%;
    left: 24.5%;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 0 8px rgba(250, 164, 133, 0.3);
    background: rgb(236, 78, 21) ;
}
.vertical .mini3::after{
    content: '';
    position: absolute;
    top: 68%;
    left: 24.5%;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 0 8px rgba(250, 164, 133, 0.3);
    background: rgb(236, 78, 21) ;
}
.vertical h5{
    color:rgb(236, 78, 21) ;
    margin-top: 5px;
}
.vertical h6{
    margin-bottom: 30px;
}
.vertical p{
    color: #898282;
    /* line-height: 1.5; */
}
.footer{
    
    background-size: cover;
    background-attachment: fixed;
    background-position: 0%;
    background-image:url(./image/orange-sky-with-clouds-sun_1136-215.avif) ;
    height: 150px;
    width: 100%;
    
}
.container-footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: white;
    font-size: large;

}
.en-bas{
    text-align: center;
    background-color: rgb(24, 24, 27);
    color: aliceblue;
    margin-bottom: 2%;
    height: 30px;
}
.footer {
    display:grid;
    align-items: center;
}
